<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_diff_drive.so">

                <update_rate>100.0</update_rate>

                <num_wheel_pairs>2</num_wheel_pairs>

                <robot_base_frame>base_link</robot_base_frame>
              
                <odometry_frame>odom</odometry_frame>

                <left_joint>base_link_to_bottom_left_wheel</left_joint>
                <left_joint>base_link_to_front_left_wheel</left_joint>


                <right_joint>base_link_bottom_right_wheel</right_joint>
                <right_joint>base_link_to_front_right_wheel</right_joint>

                <wheel_separation>0.154</wheel_separation>
                <wheel_diameter>0.06</wheel_diameter>
                <max_wheel_torque>20</max_wheel_torque>
                <max_wheel_acceleration>10.0</max_wheel_acceleration>

                <ros>
                    <namespace>/</namespace>
                    <argument>/cmd_vel:=cmd_vel</argument>
                    <argument>/odom:=odom</argument>
                </ros>

                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>
            </plugin>
    </gazebo>  
    
</robot>